extends ../_partials/_layout.jade

block content
  .login-page.col-md-6.col-md-offset-3
    h1 Welcome to MovieAgenda! Please log in or sign up.
    form
      .form-group
        label(for="email") Email Address
        input.form-control(id="email" placeholder="email" type="email" required)
      .form-group
        label(for="password") Password
        input.form-control(id="password" placeholder="password" type="password")
      .form-group
        .button-group-container
          .btn-group.btn-group-md(role="group")
            input.btn.btn-default.btn-success(type="submit" value="Login")
            button.btn.btn-default.btn-info.doRegister Register
            button.btn.btn-default.btn-warning.doResetPassword Reset Password
